<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/bootstrap.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script>
  $(document).ready(function() {
    $("button").click(function() {

      var document_text = $("div#new").text();
      $.post("/edit/<%= @key %>",
      {
        new: document_text
      },
      function(){
        // alert("SAVED AND DONE!");
      });
    });
  });


  </script>

  <title>Editing <%= @title %></title>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
        background-color: #141414;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
    }
  </style>
</head>
<body>

<button id="submit"> Bruh </button>
<pre id="editor">
<%= @data %>
</pre>

<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
	editor.session.setMode("<%= @mode %>");
</script>

</body>
</html>
